body {
  font-family: sans-serif;
  background: #eee;
  text-align: center;
  padding-top: 50px;
}

.caixa {
  background: branco;
  padding: 30px;
  border-radius: 10px;
  display: inline-block;
}

input, button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

#exibicao-valor {
  font-size: 60px;
  margin-top: 20px;
}
